<div class="to_center">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <h1>お気に入り一覧</h1>
</div>

<div class="container">
  <div class="row">
    <% @favorites_blog.each do |blog| %>
    <div class="col-md-12 col-md-6 blog-panel">
      <% title_text = blog.title %>
      <% if title_text.length >= 20 %>
        <h3><%= title_text.slice(0..18) %></h3>
      <% else %>
        <h3><%= blog.title %></h3>
      <% end %>

      <% content_text = blog.content %>
      <% if content_text.length >= 20 %>
        <p><%= content_text.slice(0..18) %></p>
      <% else %>
        <p><%= blog.content %></p>
      <% end %>

      <p><%= blog.created_at %></p>

      <div>
        投稿したユーザー:<%= blog.user.name %>
      </div>
    </div>
    <% end %>
  </div>
</div>
