
<h1>以下の内容で送信する</h1>

<%= form_with(model: @contact, url: contacts_path, local: true) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :content %>

  <div class="contact_form">

    <div>name: <%= @contact.name %></div>

    <div>email: <%= @contact.email %></div>

    <div>content: <%= @contact.content %></div>

    <div><%= f.submit '送信する', class: "btn btn-default"%></div>
  </div>
<% end %>

<%= form_with(model: @contact, url: new_contact_path, local: true, method: 'get') do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :content %>
  <div>
    <%= f.submit 'もどる', name: 'back', class: "btn btn-default"%>
  </div>
<% end %>
