<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href="/blogs/top">TOP</a></li>
          <li><a href="/blogs/new">CREATE</a></li>
          <li><a href="/blogs">LIST</a></li>
          <li><a href="/contacts/new">CONTACT</a></li>
          <% if logged_in? %>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Login", new_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>

    <footer>
      <p>Create@Yonekawa</p>
    </footer>

  </body>
</html>
